.posts__swiper-link {
    text-decoration: none;
    font-family: montserratlight;
    font-size: 0.875rem;
    color: #c7b299;
    transition: .5s;
    display: flex;
    flex-flow: row;
    align-items: center
}