.posts__swiper-month {
    color: #fff;
    background-color: #252525;
    font-family: robotoregular;
    font-size: 0.75rem;
    display: inline-block;
    width: 50px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: .5s;
}