        @font-face {
            font-family: 'fontello';
            src: url('font/fontello.eot');
            src: url('font/fontello.eot?#iefix');
            src: url('font/fontello.woff') format('woff'), url('font/fontello.ttf') format('truetype'), url('font/fontello.svg#fontello') format('svg');
            font-weight: normal;
            font-style: normal;
        }
        
        @font-face {
            font-family: 'ralewaybold';
            src: url('font/raleway-bold.eot');
            src: url('font/raleway-bold.eot?#iefix') format('embedded-opentype'), url('font/raleway-bold.woff2') format('woff2'), url('font/raleway-bold.woff') format('woff'), url('font/raleway-bold.ttf') format('truetype'), url('font/raleway-bold.svg#ralewaybold') format('svg');
            font-display: swap;
            font-weight: normal;
            font-style: normal;
        }
        
        @font-face {
            font-family: 'ralewayextrabold';
            src: url('font/raleway-extrabold.eot');
            src: url('font/raleway-extrabold.eot?#iefix')format('embedded-opentype'), url('font/raleway-extrabold.woff2') format('woff2'), url('font/raleway-extrabold.woff') format('woff'), url('font/raleway-extrabold.ttf') format('truetype'), url('font/raleway-extrabold.svg#ralewayextrabold') format('svg');
            font-display: swap;
            font-weight: normal;
            font-style: normal;
        }
        
        @font-face {
            font-family: 'ralewaymedium';
            src: url('font/raleway-medium.eot');
            src: url('font/raleway-medium.eot?#iefix') format('embedded-opentype'), url('font/raleway-medium.woff2') format('woff2'), url('font/raleway-medium.woff') format('woff'), url('font/raleway-medium.ttf') format('truetype'), url('font/raleway-medium.svg#ralewaymedium') format('svg');
            font-display: swap;
            font-weight: normal;
            font-style: normal;
        }
        
        @font-face {
            font-family: 'ralewayregular';
            src: url('font/raleway-regular.eot');
            src: url('font/raleway-regular.eot?#iefix') format('embedded-opentype'), url('font/raleway-regular.woff2') format('woff2'), url('font/raleway-regular.woff') format('woff'), url('font/raleway-regular.ttf') format('truetype'), url('font/raleway-regular.svg#ralewayregular') format('svg');
            font-display: swap;
            font-weight: normal;
            font-style: normal;
        }
        
        @font-face {
            font-family: 'ralewaysemibold';
            src: url('font/raleway-semibold.eot');
            src: url('font/raleway-semibold.eot?#iefix') format('embedded-opentype'), url('font/raleway-semibold.woff2') format('woff2'), url('font/raleway-semibold.woff') format('woff'), url('font/raleway-semibold.ttf') format('truetype'), url('font/raleway-semibold.svg#ralewaysemibold') format('svg');
            font-display: swap;
            font-weight: normal;
            font-style: normal;
        }
        
        @font-face {
            font-family: 'montserratlight';
            src: url('font/montserrat-light.eot');
            src: url('font/montserrat-light.eot?#iefix') format('embedded-opentype'), url('font/montserrat-light.woff2') format('woff2'), url('font/montserrat-light.woff') format('woff'), url('font/montserrat-light.ttf') format('truetype'), url('font/montserrat-light.svg#montserratlight') format('svg');
            font-display: swap;
            font-weight: normal;
            font-style: normal;
        }
        
        @font-face {
            font-family: 'montserratregular';
            src: url('font/montserrat-regular.eot');
            src: url('font/montserrat-regular.eot?#iefix') format('embedded-opentype'), url('font/montserrat-regular.woff2') format('woff2'), url('font/montserrat-regular.woff') format('woff'), url('font/montserrat-regular.ttf') format('truetype'), url('font/montserrat-regular.svg#montserratregular') format('svg');
            font-display: swap;
            font-weight: normal;
            font-style: normal;
        }
        
        @font-face {
            font-family: 'robotoregular';
            src: url('font/roboto-regular.eot');
            src: url('font/roboto-regular.eot?#iefix') format('embedded-opentype'), url('font/roboto-regular.woff2') format('woff2'), url('font/roboto-regular.woff') format('woff'), url('font/roboto-regular.ttf') format('truetype'), url('font/roboto-regular.svg#robotoregular') format('svg');
            font-display: swap;
            font-weight: normal;
            font-style: normal;
        }
        
        @import "style/container/container.less";
        /*-------------------------<ICON>-----------------------*/
        
        @import "style/icon/__path-menu/icon__path-menu.less";
        @import "style/icon/icon-shop.less";
        @import "style/icon/_hover/icon-shop_hover.less";
        @import "style/icon/icon-search.less";
        @import "style/icon/__path-services/icon__path-services.less";
        @import "style/icon/icon-pen.less";
        @import "style/icon/icon-layers.less";
        @import "style/icon/icon-cog.less";
        @import "style/icon/icon-case.less";
        @import "style/icon/icon-link.less";
        @import "style/icon/__path-gallery/_hover/icon__path-gallery_hover.less";
        @import "style/icon/icon-lupa.less";
        @import "style/icon/__path-gallery/icon__path-gallery.less";
        @import "style/icon/__path-gallery-tail/icon__path-gallery-tail.less";
        @import "style/icon/icon-play.less";
        @import "style/icon/__path-play/icon__path-play.less";
        @import "style/icon/__path-play/_hover/icon__path-play_hover.less";
        @import "style/icon/icon-pagination.less";
        @import "style/icon/__path-pagination/icon__path-pagination.less";
        @import "style/icon/_hover/icon-pagination_hover.less";
        @import "style/icon/right-dir-icon.less";
        /*--------------------------<HEADER>--------------------*/
        
        @import "style/header/header.less";
        @import "style/header/__content/header__content.less";
        @import "style/header/__menu-block/header__menu-block.less";
        @import "style/header-title/header-title.less";
        @import "style/header-title/__caption-medium/header-title__caption-medium.less";
        @import "style/header-title/__caption-bold/header-title__caption-bold.less";
        @import "style/header-title/__paragraph/header-title__paragraph.less";
        /*--------------------------<BUTTON>--------------------*/
        
        @import "style/button/button.less";
        @import "style/button/_hover/button_hover.less";
        @import "style/button/_hover-white/button_hover-white.less";
        @import "style/button/_active/button_active.less";
        /*---------------------------<LOGO>---------------------------*/
        
        @import "style/logo/logo.less";
        @import "style/logo/__img/logo__img.less";
        @import "style/logo/__text/logo__text.less";
        /*----------------------------<MENU>-------------------------*/
        
        @import "style/menu-block/menu-block.less";
        @import "style/menu-block/__checkbox/menu-block__checkbox.less";
        @import "style/menu-block/__checkbox/_checked/menu-block__checkbox_checked.less";
        @import "style/menu-block/__menu-icon/menu-block__menu-icon.less";
        @import "style/menu-block-right/menu-block-right.less";
        @import "style/menu-block-left/menu-block-left.less";
        @import "style/menu/menu.less";
        @import "style/menu/__item/menu__item.less";
        @import "style/menu/__link/menu__link.less";
        @import "style/menu/__link/_hover/menu__link_hover.less";
        @import "style/menu-button/menu-button.less";
        @import "style/menu-button/__icon/menu-button__icon.less";
        @import "style/menu-button/__icon/_hover/menu-button__icon_hover.less";
        @import "style/menu-button/__icon/_active/menu-button__icon_active.less";
        @import "style/search-form/__area/search-form__area.less";
        @import "style/search-form/__submit/search-form__submit.less";
        @import "style/search-form/search-form.less";
        @import "style/window-shop/window-shop.less";
        @import "style/window-shop/__list/window-shop__list.less";
        @import "style/window-shop/__item/window-shop__item.less";
        @import "style/window-shop/__close/window-shop__close.less";
        /*--------------------------<SLIDER>-------------------------*/
        
        @import "style/swiper-container/swiper-container.less";
        @import "style/swiper-wrapper/swiper-wrapper.less";
        @import "style/swiper-slide/swiper-slide.less";
        @import "style/slider-title/slider-title.less";
        @import "style/slider-title/__caption-medium/slider-title__caption-medium.less";
        @import "style/slider-title/__caption-bold/slider-title__caption-bold.less";
        @import "style/slider-title/__paragraph/slider-title__paragraph.less";
        @import "style/swiper-pagination/swiper-pagination.less";
        @import "style/swiper-pagination/__icon/swiper-pagination__icon.less";
        @import "style/swiper-pagination/__icon/_hover/swiper-pagination__icon_hover.less";
        @import "style/swiper-button-next/swiper-button-next.less";
        @import "style/swiper-button-next/__icon/swiper-button-next__icon.less";
        @import "style/swiper-button-next/__icon/_hover/swiper-button-next__icon_hover.less";
        @import "style/swiper-button-next/__icon-path/swiper-button-next__icon-path.less";
        @import "style/swiper-button-prev/__icon/swiper-button-prev__icon.less";
        /*--------------------------<SERVICES>-------------------------*/
        
        @import "style/services/services.less";
        @import "style/services/__caption/services__caption.less";
        @import "style/services/__text/services__text.less";
        @import "style/services/__icon/services__icon.less";
        @import "style/services/__line/services__line.less";
        @import "style/services-block/services-block.less";
        @import "style/services-block/_hover/services-block_hover.less";
        /*--------------------------<IDEAS>-------------------------*/
        
        @import "style/ideas/ideas.less";
        @import "style/ideas/__caption/ideas__caption.less";
        @import "style/ideas/__paragraph/ideas__paragraph.less";
        @import "style/ideas-background/ideas-background.less";
        @import "style/ideas-background/__left/ideas-background__left.less";
        @import "style/ideas-background/__right/ideas-background__right.less";
        @import "style/ideas-background/__center/ideas-background__center.less";
        @import "style/caption/caption.less";
        @import "style/paragraph/paragraph.less";
        /*--------------------------<TEXT-BOX>-------------------------*/
        
        @import "style/text-box/text-box.less";
        @import "style/text-box/__wrap/text-box__wrap.less";
        @import "style/text-box/__text/text-box__text.less";
        @import "style/text-box/__caption/text-box__caption.less";
        @import "style/text-box/__paragraph/text-box__paragraph.less";
        @import "style/text-box/__main-word/text-box__main-word";
        /*--------------------------<PROJECTS>-------------------------*/
        
        @import "style/projects/projects.less";
        @import "style/projects/__caption/projects__caption.less";
        @import "style/projects/__paragraph/projects__paragraph.less";
        @import "style/block-button/block-button.less";
        @import "style/block-button/__item/block-button__item.less";
        @import "style/projects/__block-button/projects__block-button.less";
        @import "style/block-button/__item/_hover/block-button__item_hover.less";
        @import "style/gallery/gallery.less";
        @import "style/gallery-block/gallery-block.less";
        @import "style/gallery-block/gallery-block.less";
        @import "style/gallery-block/__blur/gallery-block__blur.less";
        @import "style/gallery-block/__text/gallery-block__text.less";
        @import "style/gallery-block/__caption/gallery-block__caption.less";
        @import "style/gallery-block/__paragraph/gallery-block__paragraph.less";
        @import "style/gallery-block/__tail/gallery-block__tail.less";
        @import "style/gallery-block/__img/gallery-block__img.less";
        @import "style/gallery-block/__img-block/gallery-block__img-block.less";
        @import "style/gallery-block/__icon/gallery-block__icon.less";
        @import "style/gallery-block/_hover/gallery-block_hover.less";
        @import "style/projects/__button/projects__button.less";
        /*--------------------------<VIDEO>-------------------------*/
        
        @import "style/video/video.less";
        @import "style/video-block/video-block.less";
        @import "style/video-block/__caption/video-block__caption.less";
        @import "style/video-block/__paragraph/video-block__paragraph.less";
        @import "style/video-block/__time/video-block__time.less";
        @import "style/play/play.less";
        @import "style/play/_hover/play_hover.less";
        /*--------------------------<DEVICES>-------------------------*/
        
        @import "style/devices/devices.less";
        @import "style/devices/__img/devices__img.less";
        @import "style/devices/__img-block/devices__img-block.less";
        @import "style/devices/__text/devices__text.less";
        @import "style/devices/__caption/devices__caption.less";
        @import "style/devices/__paragraph/devices__paragraph.less";
        @import "style/divices-list/divices-list.less";
        @import "style/divices-list/__item/divices-list__item.less";
        /*--------------------------<COUNTERS>-------------------------*/
        
        @import "style/counters/counters.less";
        @import "style/counters-block/counters-block.less";
        @import "style/counters-block/__item/counters-block__item.less";
        @import "style/counters-block/__icon/counters-block__icon.less";
        @import "style/counters-block/__number/counters-block__number.less";
        @import "style/counters-block/__text/counters-block__text.less";
        @import "style/counters-block/__line/counters-block__line.less";
        /*--------------------------<POSTS>-------------------------*/
        
        @import "style/posts/posts.less";
        @import "style/posts/__caption/posts__caption.less";
        @import "style/posts/__paragraph/posts__paragraph.less";
        @import "style/posts/__swiper-container/posts__swiper-container.less";
        @import "style/posts/__swiper-wrapper/posts__swiper-wrapper.less";
        @import "style/posts/__swiper-slide/_hover/posts__swiper-slide_hover.less";
        @import "style/posts/__swiper-slide/posts__swiper-slide.less";
        @import "style/posts/__swiper-img-block/posts__swiper-img-block.less";
        @import "style/posts/__swiper-img/posts__swiper-img.less";
        @import "style/posts/__swiper-blur/posts__swiper-blur.less";
        @import "style/posts/__swiper-calender/posts__swiper-calender.less";
        @import "style/posts/__swiper-day/posts__swiper-day.less";
        @import "style/posts/__swiper-month/posts__swiper-month.less";
        @import "style/posts/__swiper-text-block/posts__swiper-text-block.less";
        @import "style/posts/__swiper-caption/posts__swiper-caption.less";
        @import "style/posts/__swiper-paragraph/posts__swiper-paragraph.less";
        @import "style/posts/__swiper-link/posts__swiper-link.less";
        @import "style/posts/__swiper-pagination/posts__swiper-pagination.less";
        @import "style/posts/__swiper-icon/posts__swiper-icon.less";
        @import "style/posts/__swiper-span/posts__swiper-span.less";
        /*--------------------------<PARTNERS>-------------------------*/
        
        @import "style/partners/partners.less";
        @import "style/partners/__img/partners__img.less";
        @import "style/partners/_hover/partners_hover.less";
        @import "style/partners-block/partners-block.less";
        @import "style/partners-block/__item/partners-block__item.less";
        /*--------------------------<RESOLUTION--1280px>-------------------------*/
        
        @import "style/res/res-1600/res-1600.less";
        @import "style/res/res-1280/res-1280.less";
        @import "style/res/res-1120/res-1120.less";
        @import "style/res/res-1024/res-1024.less";
        @import "style/res/res-960/res-960.less";
        @import "style/res/res-768/res-768.less";
        @import "style/res/res-720/res-720.less";
        @import "style/res/res-640/res-640.less";
        @import "style/res/res-602/res-602.less";
        @import "style/res/res-572/res-572.less";
        @import "style/res/res-480/res-480.less";
        @import "style/res/res-440/res-440.less";