.divices-list__item {
    background: url(img/svg/icon-marker.svg);
    list-style-type: none;
    background-repeat: no-repeat;
    background-position: 0 5px;
    list-style-type: none;
    padding-left: 50px;
}