        @media screen and (max-width: 1025px) {
            .slider-title__caption-medium {
                font-size: 2rem;
            }
            .slider-title__caption-bold {
                font-size: 3rem;
            }
            .swiper-button-next__icon {
                margin-right: 0;
                right: 2%;
            }
            .swiper-button-prev__icon {
                margin-left: 0;
                left: 2%;
            }
            .services {
                flex-flow: wrap;
            }
            .services-block {
                flex-basis: 306px;
            }
            .services-block:nth-of-type(2n+1) {
                margin-left: 0;
            }
            .services-block:nth-of-type(2n+2) {
                margin-left: 45px;
            }
            .services-block:nth-of-type(n+3) {
                margin-top: 45px;
            }
            .gallery-block {
                flex-basis: 305px;
            }
            .gallery-block:nth-of-type(2n) {
                margin-left: 30px;
            }
            .gallery-block:nth-of-type(2n+1) {
                margin-left: 0;
            }
            .gallery-block__blur {
                height: 196px;
                width: 100%;
            }
            .swiper-slide {
                background-image: url(img/header1024.jpg);
            }
            .partners {
                background-image: url(img/partners1024.jpg);
            }
            .video {
                background-image: url(img/video1024.jpg);
            }
        }