.swiper-slide {
    background-image: url(img/header.jpg);
    background-color: hsla(0, 0%, 7%, 0.7);
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100%
}