@media screen and (max-width:602px) {
    .services-block:nth-child(n+2) {
        margin-top: 45px;
    }
    .services-block:nth-child(n) {
        margin-left: 0;
        flex-basis: 280px;
    }
    .posts__swiper-slide {
        margin-right: 0;
    }
    .posts__swiper-slide:nth-child(2) {
        display: none;
    }
}