@media screen and (max-width:602px) {
    .services-block:nth-child(n+2) {
        margin-top: 45px;
    }
    .services-block:nth-child(n) {
        margin-left: 0;
        flex-basis: 280px;
    }
    .posts__swiper-slide {
        margin-right: 0;
    }
    .posts__swiper-slide:nth-child(2) {
        display: none;
    }
    .pre-footer-widget__wrap {
        display: flex;
        max-width: 290px;
        flex-flow: row wrap;
    }
    .pre-footer-widget__item:nth-of-type(n) {
        margin: 0
    }
    .pre-footer-widget__item:nth-of-type(2n+1) {
        margin-right: 10px;
    }
    .pre-footer-widget__item:nth-of-type(n+3) {
        margin-top: 10px;
    }
}