@media screen and (max-width:768px) {
    .text-box__wrap {
        flex-flow: column;
    }
    .text-box__text {
        margin-bottom: 30px;
    }
    .counters-block {
        width: 97%;
    }
    .ideas__paragraph,
    .ideas__caption {
        width: 95%;
        text-align: center;
    }
    .text-box__caption,
    .text-box__paragraph {
        text-align: center;
    }
}