.swiper-pagination__icon {
    background-color: hsla(0, 0%, 100%, 0.5);
    background-clip: content-box;
    cursor: pointer;
    width: 10px;
    height: 10px;
    border: solid 2px transparent;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    transition: .4s;
}