@media screen and (max-width:1600px) {
    .swiper-button-next__icon {
        right: calc((150 - 110)/(1600 - 1280)*100%);
        margin-right: calc(140px - (150 - 100)/(1600 - 1280)*1600px);
    }
    .swiper-button-prev__icon {
        left: calc((150 - 110)/(1600 - 1280)*100%);
        margin-left: calc(140px - (150 - 100)/(1600 - 1280)*1600px);
    }
}