.video {
    background-image: url(img/video.jpg);
    background-color: hsla(0, 0%, 7%, 0.5);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    padding: calc(192/1920*100%) 0;
    display: flex;
    justify-content: center;
    background-size: cover;
}