.gallery-block_hover:hover .gallery-block__text {
    background-color: #362f2d;
}

.gallery-block_hover:hover .gallery-block__caption {
    color: #ffffff;
}

.gallery-block_hover:hover .gallery-block__paragraph {
    color: #c7b299;
}

.gallery-block_hover:hover .gallery-block__img {
    transform: scale(1.05);
}

.gallery-block_hover:hover .gallery-block__blur {
    opacity: 1;
}

.gallery-block_hover:hover .icon__path-gallery-tail {
    fill: #362f2d;
}