@media screen and (max-width:642px) {
    .slider-title__caption-medium {
        font-size: 1.75rem;
    }
    .slider-title__caption-bold {
        font-size: 2.75rem;
    }
    .caption {
        font-size: 1.75rem;
    }
    .partners-block {
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .partners-block__item:nth-of-type(n+3) {
        margin-top: 40px;
    }
    .partners__img {
        width: calc(190/620*100vw);
    }
    .counters-block {}
}