@media screen and (max-width:642px) {
    .partners-block {
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .partners-block__item:nth-of-type(n+3){
        margin-top: 40px;
    }
    .partners__img {
        width: calc(190/620*100vw);
    }
    .counters-block{
        
    }
}