@media screen and (max-width:1280px) {
    .body {
        overflow-x: hidden;
    }
    .header__content {
        width: calc(100% - (1280 - 1172)/1280*100%);
    }
    .services {
        width: calc(100% - (1280 - 1172)/1280*100%);
        align-self: center;
    }
    .services-block:nth-of-type(n+2) {
        margin-left: 30px;
    }
    .ideas-background {
        width: 62vw;
        height: calc(482/1280*100vw + 2vw);
    }
    .ideas-background__left,
    .ideas-background__right {
        width: 100%;
    }
    .ideas-background__center {
        width: 100%;
    }
    .text-box__wrap {
        width: calc(100% - (1280 - 1172)/1280*100%);
    }
    .projects {
        width: calc(100% - (1280 - 1172)/1280*100%);
        align-self: center;
    }
    .devices {
        padding-right: calc(80/1280*100%);
    }
    .posts__swiper-container {
        width: calc(100% - (1280 - 1172)/1280*100%);
    }
    .posts__wrapper,
    .posts__swiper-img-block,
    .posts__swiper-img,
    .posts__swiper-blur {
        width: 100%;
    }
    .posts__swiper-img-block,
    .posts__swiper-blur {
        height: calc(220/1292*100vw);
    }
    .posts__swiper-slide {
        width: calc(370/1170*100%);
    }
    .gallery-block {
        width: calc(370/1200*100%);
        height: auto;
    }
    .gallery-block__img-block,
    .gallery-block__img {
        width: 100%;
    }
    .gallery-block__blur {
        height: calc(237/1280*100vw);
        width: 100%;
    }
    .partners-block {
        width: calc(100% - (1280 - 1172)/1280*100%);
    }
    .partners__img {
        width: calc(210/1280*100vw);
    }
    .pre-footer__wrap {
        width: calc(100% - (1280 - 1172)/1280*100%);
    }
    .pre-footer-widget {
        flex-basis: auto;
    }
    .pre-footer-widget__wrap {
        flex-direction: column;
        width: 130px;
    }
    .pre-footer-widget__item:nth-of-type(n) {
        margin: 0 0 10px 0;
    }
    .footer-wrap {
        width: calc(100% - (1280 - 1172)/1280*100%);
    }
}