.pre-footer-twitter__item {
    margin: 0 0 21px 0;
    text-decoration: none;
    cursor: pointer;
    display: block;
}

.pre-footer-twitter__item:nth-of-type(n+2) {
    border-top: 1px solid #252525;
    padding-top: 21px;
}